#Java settings
function setjdk() {
	if [ $# -ne 0 ]; then
		removeFromPath '/System/Library/Frameworks/JavaVM.framework/Home/bin'
		if [ -n "${JAVA_HOME+x}" ]; then
			removeFromPath $JAVA_HOME
		fi
		export JAVA_HOME=`/usr/libexec/java_home -v $@`
		export PATH=$JAVA_HOME/bin:$PATH
	fi
}

function removeFromPath(){
	export PATH=$(echo $PATH | sed -E -e "s;:$1;;" -e "s;$1:?;;")
}

setjdk 1.8

# My own functions

function pr(){
  cd /Users/christian/Downloads/pimped-radio
  java -jar -Dlogback.configurationFile=./resources/logback.xml pimped-radio-ui.jar
}

function att(){
  cd /Users/christian/Downloads/tinnitus-attenuator
  java -jar tinnitus-attenuator.jar
}
